body {
	
	background-image: url('../images/grocery-store-shelves-pic.jpg');
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
}

h1 {
	font-size: 64px;
	width: 380px;
	border: green 5px solid;
	border-width: 10px;
	height: 100px;
	padding:10px;
	margin:5px;

}

#list-area {
	height: 100px;
	background-color: white;

}